@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", serif;
}

:root{
    --header-bg: rgba(255, 144, 14, 0.1);
    --design-clr: rgb(255, 144, 14);
    --design-clr2:rgb(255, 244, 231);
    --dark-1: rgb(19, 19, 19);
    --dark-2:rgb(66, 66, 66);
    --dark-3:rgb(114, 114, 114);
    --white:rgb(255, 255, 255);
    
}

/* System style  */
a{
    text-decoration: none;
}

.body-side-margin{
    margin: 0 200px;
}

.btn{
    border-radius: 8px;
    background: var(--design-clr);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    padding: 20px 25px;
    border: none;
    color: var(--white);
}
.btn-container{
    margin-top: 32px;
}

.navBar, 
.banner, 
.mainSection,
.footerContent
{
    max-width: 1200px;
    margin: 0 auto;
}



/* Header section design  */
.headerSection{
    background-color: var(--header-bg);
    padding: 50px 0;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navTitle{
font-size: 45px;
font-weight: 700;
line-height: 53px;
color: var(--dark-1);
}

.menuContainer{
    display: flex;
    gap: 50px;
}
.menuContainer a li{
    list-style: none;
    font-size: 18px;
font-weight: 500;
line-height: 26px;
color: var(--dark-2);
}

.banner{
    text-align: center;
    margin-top: 110px;
}

.headerContent{
    margin: 0 auto;
    max-width: 850px;
}

.headContentTitle{
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    color: var(--dark-1);
}
.headContentDescrpt{
    margin-top: 25px;
    font-size: 16px;
font-weight: 400;
line-height: 26px;
color: var(--dark-3);
}

.bannerimgContainer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}

.bannerimgContainer img{
    /* max-width: 1100px; */
    width: 100%;
}

/* Main Section design  */


.quickListFeture{
    margin: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.quickImgContainer{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2,1fr);
}

.quickTitle{
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    margin-bottom: 24px;
}

.quickTitle span:nth-child(1){
    color: var(--dark-3);
}

.quickTitle span:nth-child(2){
    color: var(--design-clr);
}

.quickDescript{
    color: var(--dark-3);
}


/* Feature Experience design  */
.FeatureExperience{
    display: flex;
    gap: 90px;
}

.featureTitle{
    font-size: 45px;
font-weight: 700;
line-height: 53px;
color: var(--dark-1);
border-left: 5px solid var(--design-clr);
padding-left: 20px;
}

.featureDescription{
    font-size: 16px;
font-weight: 400;
line-height: 26px;
color: var(--dark-3);
margin-top: 24px;
}

.featureCardContainer{
    margin-top: 30px;
}

.experinceImgContainer img{
    width: 100%;
}

.featureCard{
    margin-top: 20px;
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}

.featureCard h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    color: var(--dark-1);
    margin-bottom: 10px;
}

.featureCard p{
    font-size: 16px;
font-weight: 400;
line-height: 26px;
color: var(--dark-3);
}

#experiece-badge{
    padding: 30px;
    margin-left: -70px;
    margin-top: -100px;
}
#exp-year{
    font-size: 45px;
    font-weight: 700;
}


/* Some fact Section  */

.SomeFactSection{
    margin-top: 130px;
}
.someFactContent{
    margin-bottom: 50px;
}
.someFactTitle{
    font-size: 45px;
font-weight: 700;
line-height: 53px;
color: var(--dark-1);
margin-bottom: 18px;
}

.someFactContent p{
    max-width: 530px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--dark-3);
}


.someFactCard{
    border: 1px solid var(--design-clr);
    border-radius: 8px;
    width: 240px;
    height: 240px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.factNumber{
    font-size: 45px;
    font-weight: 600;
    line-height: 53px;
    margin: 6px 0;
}

.factName{
    color: var(--dark-3);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}

.someFactCardContainer{
    display: flex;
    justify-content: space-between;
}


/* Sponsor Section design  */
.brandingSection{
    margin-top: 180px;
    text-align: center;

}

.sponsorTitle{
    font-size: 45px;
font-weight: 700;
line-height: 53px;
color: var(--dark-1);
margin-bottom: 24px;
}

.sponsorDescrp{
    font-size: 16px;
font-weight: 400;
line-height: 26px;
color: var(--dark-3);
margin-bottom: 50px;
}

.sponsorContent{
    max-width: 540px;
    margin: 0 auto;
}

.brandContainer{
    display: flex;
    justify-content: space-between;
}

.brandContainer img{
    filter: grayscale(100);
}

/* Footer section design  */

.footerSection{
    margin: 130px 0;
}
.footerContent{
    text-align: center;
    background-color: var(--design-clr2);
    padding: 40px 0;
    color: var(--dark-2);
    border-radius: 10px;
}











@media screen and (max-width: 576px) {
    
    .navBar{
        flex-direction: column;
    }

    .navTitle{
        font-size: 30px;
    }

    .menuContainer{
        margin-top: 20px;
        gap: 14px;
    }


    .quickListFeture{
        flex-direction: column-reverse;
        
    }

    .quickImgContainer{
        grid-template-columns: repeat(1,1fr);
    }

    .quickListFeture{
        padding: 20px;
    }
    .someFactContent{
        padding: 10px;
    }
    .someFactCardContainer{
        justify-items: center;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* flex-direction: column; */
        gap: 10px;
        
    }

    .brandContainer{
        padding: 50px;
        flex-direction: column;
        gap: 50px;
    }

    .experienceContent{
        padding: 20px;
    }

    .FeatureExperience{
        flex-direction: column;
    }

    #experiece-badge{
        padding: 30px;
        margin-left: 150px;
        margin-top: -100px;
    }


}

@media screen and (min-width: 576px) and (max-width: 776px){
    .body-side-margin{
        margin: 0 80px;
    }

    .navBar{
        flex-direction: column;
    }
    .menuContainer{
        margin-top: 20px;
    }

    .quickListFeture{
        flex-direction: column-reverse;
        
    }

    .quickImgContainer{
        grid-template-columns: repeat(1,1fr);
    }

    .quickListFeture{
        padding: 20px;
    }

    .someFactContent{
        padding: 20px;
    }

    .someFactCardContainer{
        
        justify-items: center;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2,1fr);
    }

    .brandContainer{
        padding: 50px;
        flex-direction: column;
        gap: 50px;
    }


    .experienceContent{
        padding: 20px;
    }

    .FeatureExperience{
        flex-direction: column;
    }

    #experiece-badge{
        padding: 30px;
        margin-left: 170px;
        margin-top: -100px;
    }


}

@media screen and (min-width: 778px) and (max-width: 976px){
    .navBar{
        flex-direction: column;
    }

    .menuContainer{
        margin-top: 20px;
        
    }

    .quickListFeture{
        flex-direction: column-reverse;
        
    }

    .quickImgContainer{
        grid-template-columns: repeat(2,1fr);
    }

    .quickListFeture{
        padding: 20px;
    }

    .someFactContent{
        padding: 20px;
    }

    .someFactCardContainer{
        
        justify-items: center;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2,1fr);
    }

    .brandContainer{
        justify-items: center;
        padding: 50px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
    }

    .experienceContent{
        padding: 20px;
    }

    .FeatureExperience{
        flex-direction: column;
    }

    #experiece-badge{
        padding: 30px;
        margin-left: 290px;
        margin-top: -100px;
    }

}

@media screen and (min-width: 977px) and (max-width: 1155px){
    
}